
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container has-text-left">
    <p class="title">FAQ</p>
    <br />
    <h2 class='subtitle'>Why did you make this terrible website?</h2>
    <article class="message">
        <div class="message-body">
            I wanted to try out ASP.NET. And I succeeded, even if my website's code looks like it was written by a $1/hr Indian programmer.
        </div>
    </article>
    <h2 class='subtitle'>I submitted an emoji, but now it's no longer in the "My Emojis" tab!</h2>
    <article class="message">
        <div class="message-body">
            That probably means that your emoji got denied.
        </div>
    </article>
    <h2 class='subtitle'>Something is missing or incorrectly tagged! What do?</h2>
    <article class="message">
        <div class="message-body">
            ¯\_(ツ)_/¯
        </div>
    </article>
    <h2 class='subtitle'>Why is there an FAQ that answers nothing?</h2>
    <article class="message">
        <div class="message-body">
            I wanted to fill up some space in the navbar.
        </div>
    </article>
</div>